<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Application de gestion de listes de tâches</title>
  </head>
  <body>
    <header id="header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="test-center">
              <h1>Application de gestion de listes de tâches</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="test-center">
            <h2>Liste des tâches</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>Description</th>
                  <th>Date de création</th>
                  <th>Date de dernière modification</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Tâche 1</td>
                  <td>Tâche 1</td>
                  <td>Date de création</td>
                  <td>Date de dernière modification</td>
                  <td>
                    <a href="javascript:void(0);" class="btn btn-success"
                      >Modifier</a
                    >
                    <a href="javascript:void(0);" class="btn btn-danger"
                      >Supprimer</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
